@model PEPRN231_SU24_009909_TrinhQuocThai_MVC.Models.FootballPlayer

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FootballPlayer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achievements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achievements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerExperiences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerExperiences)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FootballClub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FootballClub.FootballClubId)
        </dd>
    </dl>
    
    <form asp-action="DeleteQuickly">
        <input type="hidden" asp-for="FootballPlayerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
