@model PEPRN231_SU24_009909_TrinhQuocThai_MVC.Models.FootballPlayerVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FootballPlayer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achievements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achievements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerExperiences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerExperiences)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FootballPlayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
