@model IEnumerable<PEPRN231_SU24_009909_TrinhQuocThai_MVC.Models.FootballPlayerVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerExperiences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nomination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achievements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerExperiences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FootballPlayerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FootballPlayerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FootballPlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
